Repository himanshurajora/minipoint, pull requests merged in 2023-09, with the labels that each got.

#7 feat (renderer:point) add color support to point
  examples/colors/index.html
  examples/colors/script.ts
  examples/drawing/index.html
  examples/index.html
  examples/point/index.html
  examples/public/styles.css
  examples/vite.config.js
  lib/constants/renderer.ts
  lib/render/engine.ts
  lib/render/objects/point.ts
  lib/types/canvas.ts
  lib/types/shapes.ts
Labels: Library, Types

#8 add static-build-test.yml for testing build on prs
  .github/workflows/static-build-test.yml
Labels: Actions

#10 add label for examples directory
  .github/labeler.yml
Labels: Actions

#12 (chore) workflow: specify paths for static workflow
  .github/workflows/static-build-test.yml
  .github/workflows/static.yml
Labels: Actions

#13 (typo) examples header to index, for workflow test
  examples/index.html
Labels: Examples

#15 update version for the latest release 0.0.1
  examples/package-lock.json
  examples/package.json
  package-lock.json
  package.json
Labels: Examples, Release

#17 bump dependencies to latest
  package-lock.json
  package.json
Labels: Packages

#18 chore (github) add codeowners file
  .github/CODEOWNERS
  .github/labeler.yml
Labels: Actions

#19 ✨feat (engine: input) add keyboard input support and examples.
  examples/index.html
  examples/keyboard-inputs/index.html
  examples/keyboard-inputs/script.ts
  examples/vite.config.js
  lib/input/input.ts
  lib/render/engine.ts
  lib/types/canvas.ts
Labels: Library, Types, Examples
